<?xml version="1.0" encoding="UTF-8"?>
<!--

   Copyright 2010 OpenEngSB Division, Vienna University of Technology

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:sm="http://servicemix.apache.org/config/1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xmlns:jencks="http://jencks.org/2.0"
  xmlns:amq="http://activemq.apache.org/schema/core"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://servicemix.apache.org/config/1.0
           http://servicemix.apache.org/schema/servicemix-core-3.3.xsd
           http://jencks.org/2.0
           classpath:jencks.xsd
           http://activemq.apache.org/schema/core
           classpath:activemq.xsd
           ">

  <amq:broker id="broker" useShutdownHook="false">
    <amq:managementContext>
      <bean class="org.apache.activemq.broker.jmx.ManagementContext">
        <property name="createConnector" value="false" />
      </bean>
    </amq:managementContext>
    <amq:networkConnectors>
      <amq:networkConnector uri="multicast://default" />
    </amq:networkConnectors>
    <amq:persistenceAdapter>
      <amq:amqPersistenceAdapter directory="file:./data/amq" />
    </amq:persistenceAdapter>
    <amq:transportConnectors>
      <amq:transportConnector uri="tcp://localhost:61616" discoveryUri="multicast://default" />
    </amq:transportConnectors>
  </amq:broker>
  
  <bean id="deploymentServiceMBean" factory-bean="jbi" factory-method="getDeploymentService" />

  <!-- the JBI container -->
  <sm:container id="jbi" rootDir="#rootDir" useMBeanServer="true" createMBeanServer="true"
    installationDirPath="#installDir" deploymentDirPath="#deployDir" monitorInstallationDirectory="true"
    monitorDeploymentDirectory="true" transactionManager="#transactionManager">
  </sm:container>

  <sm:dotViewService container="#jbi" autoStart="true" />

  <jencks:transactionManager id="transactionManager" transactionLogDir="#txDir"
    defaultTransactionTimeoutSeconds="600" />

  <!-- Work manager -->
  <jencks:workManager id="workManager" threadPoolSize="200" transactionManager="#transactionManager" />

  <!-- Bootstrap context for JCA -->
  <jencks:bootstrapContext id="bootstrapContext" workManager="#workManager" transactionManager="#transactionManager" />

  <!-- Connection manager for JCA -->
  <jencks:connectionTracker id="connectionTracker" geronimoTransactionManager="#transactionManager" />

  <jencks:poolingSupport id="poolingSupport" />

  <jencks:connectionManager id="connectionManager" containerManagedSecurity="false"
    transaction="xa" transactionManager="#transactionManager" poolingSupport="#poolingSupport" connectionTracker="#connectionTracker" />

</beans>
