[submodule "wrapped/openengsb-wrapped-parent"]
	path = wrapped/openengsb-wrapped-parent
	url = git://github.com/openengsb/openengsb-wrapped-parent.git
[submodule "wrapped/openengsb-wrapped-com.google.guava"]
	path = wrapped/openengsb-wrapped-com.google.guava
	url = git://github.com/openengsb/openengsb-wrapped-com.google.guava.git
[submodule "wrapped/openengsb-wrapped-com.jcraft.jsch"]
	path = wrapped/openengsb-wrapped-com.jcraft.jsch
	url = git://github.com/openengsb/openengsb-wrapped-com.jcraft.jsch.git
[submodule "wrapped/openengsb-wrapped-javax.xml.jaxb"]
	path = wrapped/openengsb-wrapped-javax.xml.jaxb
	url = git://github.com/openengsb/openengsb-wrapped-javax.xml.jaxb.git
[submodule "wrapped/openengsb-wrapped-net.sourceforge.htmlunit"]
	path = wrapped/openengsb-wrapped-net.sourceforge.htmlunit
	url = git://github.com/openengsb/openengsb-wrapped-net.sourceforge.htmlunit.git
[submodule "wrapped/openengsb-wrapped-org.apache.wicket"]
	path = wrapped/openengsb-wrapped-org.apache.wicket
	url = git://github.com/openengsb/openengsb-wrapped-org.apache.wicket.git
