#=================
#eclipse-workspace
#=================
eclipse-workspace

#=================
#eclipse-project
#=================
*.project
*.classpath
*.settings
*bin
formatter.xml

#=================
#maven-files
#=================
*target

#================
#log files
#================
*engsb.log*

#================
#runtime productions
#================
*activemq-data
engsb-edb-core/dump
openengsb-embedded/derby.log
openengsb-embedded/data/
openengsb-embedded/openengsb.log

#================
#Mac OS X hidden files/folders
#================
.DS_Store

#================
#WinXP hidden files/folders
#================
*Thumbs.db

#================
#Documentation artifacts
#================
*.dia~

