#=================
#eclipse-workspace
#=================
.metadata

#=================
#eclipse-project
#=================
*.project
*.classpath
*.settings

#=================
#maven-files
#=================
*target

#================
#log files
#================
*engsb.log*

#================
#runtime productions
#================
*activemq-data
engsb-edb-core/dump
