/**
 * Licensed to the Austrian Association for Software Tool Integration (AASTI)
 * under one or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information regarding copyright
 * ownership. The AASTI licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 
 /* Reset */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100.1%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
 
/* Typography */ 
body {
 	font-family: Tahoma, Helvetica, sans-serif,"Lucida Grande","Lucida Sans Unicode",Arial,Helvetica,Verdana;
 	font-size: 100.1%;
}

p {
  font-size: 0.75em;
  padding-bottom: 2em;
}
 	
h1 {
	font-size: 1.5em;
	padding-bottom: 2em;
}

h2 {
	font-size: 1.3em;
	padding-bottom: 1.5em;
}

h3 {
	font-size: 1.1em;
	padding-bottom: 1em;
}

h4 {
	font-size: 1.0em;
	padding-bottom: 0.5em;
} 
.smalltext {
    font-size: 0.7em;
    line-height: 1.5em;
}	
 	
th {
	background: url("../images/th_seperator.png");
	}
td {
	font-color: #566672;
	}

.hidden {
	display:none;
} 
.inline {
 	display: inline;
 	}



/* forms.css */
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;color:#000;}
input[type=text]:focus, input[type=password]:focus, input[type=url]:focus, input[type=email]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input[type=url], input[type=email], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

input[type=submit] {
 background-image: url("../org.openengsb.ui.common.resources.images.CommonPictureLocator/button.png");
 background-repeat:none;
 height: 25px;
 min-width:85px;
 color: white;
 padding-bottom: 3px;
 border: 0 none;
}

.dropdown {
 background:url("../org.openengsb.ui.admin.global.header.HeaderTemplate/dropdownIcon.png");
 background-position: right center;
 background-repeat: no-repeat;
 padding-right: 18px;
 position:relative;
}

.dropdown ul{
 list-style:none;
 border-left: 1px solid #56738C;
 border-right: 1px solid #56738C;
 border-bottom: 1px solid #56738C;
 font-size: 1.2em;
 line-height: 1.2em;
 padding-top:20px;
 background:url("../org.openengsb.ui.admin.global.header.HeaderTemplate/dropdownBackground.png");
 
}


.languageDropdownContainer {
 left: -1px;
 position: absolute;
 top: 37px;
}

.ligthBlue {
	color: #a3b2bf;
}
.positionRelative {
	position: relative;
}
.topH1 {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 200;
    letter-spacing: 0.1em;
}
.topH2{
    font-size: -1.7em;
    font-weight: lighter;
    line-height: 0.2em;
    color: #DFEDF8;
}

.hiden {
	display: hidden;
	}

.logoSmallSize {
	width: 100px;
	height: 65px;
}
.logoMediumSize {
	width: 154px;
	height: 100px;
}

.menuItem {
	background-image: url("../images/menu_background.png");
	width: 150px;
	height: 32px;
}

.menuContainer {
	background: url("/openengsb/images/menu_background.png");
	width: 227px;
}	

.menuContainer ul {
	list-style-type: none;
	padding: 0px 0px 0px 10px;
}

.menuContainer li{
	height: 40px;
	width: 160px;
	padding-left: 40px;
	border-bottom: 1px solid #56738C;
}

li.lastElement {
	border: none;
}
	

.menuContainer li a{
    color: #6D6D6F;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: lighter;
    letter-spacing: 0.1em;
    margin: 10px;
}

.menuContainer li a:hover{
	background-color: #FFFFFF
   	}

.menuIcon {
    height: 25px;
    padding-left: 10px;
    width: 25px;
    display: inline;
}

.header {
	background-color: #56738C;
	height: 85px;
	}
	
#topHeader{
	position:relative;
	min-width: 550px;
	}

#topMenuContainer{
	    position: absolute;
    right: 15px;
}

#topMenuContainer div.tmc-left, div.tmc-center, div.tmc-right, div.tmc-seperator, #topMenuContainer a, span{
	height: 38px;
	display: inline;
	float: left;
	line-height: 34px;
	color: white;
	text-decoration: none;
	font-size: 0.85em;
	font-weight: lighter;
}

#topMenuContainer a, span{
	padding: 0px 8px 0px 8px;
}

#topMenuContainer div.tmc-left {
	background-image: url("../org.openengsb.ui.common.resources.images.CommonPictureLocator/topmenu_background_left.png");
	width: 14px;
}
#topMenuContainer div.tmc-center {
	background-image: url("../org.openengsb.ui.common.resources.images.CommonPictureLocator/topmenu_background_center.png");
}
#topMenuContainer div.tmc-right {
	background-image: url("../org.openengsb.ui.common.resources.images.CommonPictureLocator/topmenu_background_right.png");
	width: 14px;
	margin: 0px; 0px; 5px; 0px;
}
#topMenuContainer div.tmc-seperator {
	background-image: url("../org.openengsb.ui.common.resources.images.CommonPictureLocator/topmenu_background_seperator.png");
	width: 2px;
}

#topLogo{
	position: relative;
	top: 10px;
	left: 20px;
	height: *;
}

#topHeadline {
    left: 220px;
    position: absolute;
    top: 20px;
}

#tabBar {
	background-image: url("/openengsb/images/tabbar_background.png");
	height: 40px;
}

#loginMaskContainer {
	border: 2px solid #56738C;
	width: 700px;
	height: 220px;
	position:absolute; 
	top: 50%;
	left: 50%; 
	margin-left:-350px; 
	margin-top: -110px;
}
#loginMaskContainer .background{
	background: #56738C;
}
#loginMaskContainer .line{
	height: 100%;
}
#loginMaskContainer .unit{
	padding: 10px 10px 17px;
}
#loginMaskContainer h3{
	padding-bottom: 0px;
}
#loginMaskContainer input[type="text"], input[type="password"]{
	height:25px;
	width:300px;
	border: 1px solid ##56738C;
	color:#56738C;
}
#loginMaskContainer form {
	margin: 20px 0px 0px 0px;
}
#loginMaskContainer label {
	font-size: 0.6em;
	font-weight: bold;
	color: #56738C;
}
#loginMaskContainer .headerLabel {
	position: absolute;
	right: 0px;
	top: 0px;
}

#menu{
}

.mainArea{
	padding: 15px 15px 15px 15px;
	
}

/*
body {
	font-family: Calibri, Verdana, Tahoma, Arial;
	font-size: 0.9em;
	background-color: #EEEEFA;
	color: #3C4650;
	margin-top: 0px;
	margin: auto;
	min-width: 750px;
	max-width: 850px;
}

h1,h2,h3,h4,h5,h6,h7,h8 {
	font-weight: bold;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.1em;
}

h4 {
	font-size: 0.9em;
}

hr {
	color: #3C4650;
}

a {
	color: #648296;
	font-weight: bold;
	text-decoration: none;
}

a:focus,a:hover,a:active {
	text-decoration: underline;
}

img {
	border: none;
}

tr.none {
	background: transparent;
}

a.none {
	background: transparent;
	padding-right: 0px;
}

.feedbackPanelERROR {
	color: red;
	list-style: circle;
	font-weight: bold;
}

.feedbackPanelINFO {
	color: green;
	list-style: circle;
	font-weight: bold;
}

.block {
	padding: 10px;
}

.blockWithBorder {
	border-width: thin;
	border-style: dotted;
	border-color: #E9601A;
}

#hellomessage {
	font-size: 30pt;
}

#titleblock {
	color: white;
	font-weight: bold;
	border-width: thin;
	padding: 17px 2px 2px 6px;
}

#titleblock a {
	color: #000;
}

.red {
	background-color: #ff0000;
}

.green {
	background-color: #008000;
}

.loginForm {
	text-align: center;
}

.login {
	margin-left: 10px;
	margin-right: 20px;
	width: 100px;
}

.inputForm label {
	display: block;
	margin-top: 5px;
}

#numberRadioChoice label {
	display: inline !important;
}

.inputForm label.non {
	display: inline !important;
}

.inputFormTable td {
	vertical-align: top;
	padding: 10px;
}

#nestedExampleTree {
	width: 300px;
}

#feedbackPanel {
	width: 600px;
}

#siteSelection {
	width: 200px;
}

div.tabRowContent {
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px;
	margin: 4px;
	padding: 4px;
}
*/
/* TAB PANEL STYLES */
/*
.tabpanel div.tab-row ul {
	height: 20px;
	margin: 0;
	padding-left: 10px;
	background: url(tabs/tab_bottom.gif) repeat-x bottom;
}

.tabpanel div.tab-row li {
	margin: 0;
	padding: 0;
	display: inline;
	list-style-type: none;
}

.tabpanel div.tab-row a:link,div.tabpanel4 div.tab-row a:visited {
	float: left;
	background: #f3f3f3;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #666;
}

.tabpanel div.tab-row li.selected a:link,div.tabpanel4 div.tab-row a:visited.active
	{
	border-bottom: 1px solid #fff;
	background: #fff;
	color: #000;
}

.tabpanel div.tab-row a:hover {
	background: #fff;
}

.tooltip {
	display: none;
	background: transparent url(/tools/img/tooltip/black_arrow.png);
	font-size: 12px;
	height: 70px;
	width: 160px;
	padding: 25px;
	color: #fff;
}

.mainHeadline {
	margin: 3px 0 7px;
	min-height: 50px;
	padding: 0;
	width: 100%;
}

.mainHeadline img {
	float: left;
}

.mainHeadline .headlineContainer {
	margin: 7px 0 7px 60px;
	min-height: 48px;
}

.mainHeadline .headlineContainer h2 {
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.mainHeadline .headlineContainer p {
	margin: 0;
	padding: 0;
}

#sidebarContainer {
	background: transparent url("../images/sidebar.png");
	background-repeat: repeat-y;
	background-position: top right;
}

#sidebar {
	float: right !important;
	width: 280px;
	background-color: #e1e1e1;
	border-left: 1px #777777 solid;
	padding: 10px;
}

.smallFont {
	font-size: 85%;
}

.usedSidebar {
	margin-right: 300px;
}

.hiddenSidebar {
	background: none !important;
}

.footerValidation {
	text-align: right;
}

.footerValidation p {
	margin: 20px 0px 0px 0px;
}

#banner {
	float: left;
	width: 100%;
	height: 80px;
	border-left: 1px #738764 solid;
	border-right: 1px #738764 solid;
	background: transparent url("../images/header.png") repeat-x scroll top
		left;
}

.pageLogo img {
	position: relative;
	left: 15px;
	top: 12px;
	width: 105px;
	height: 68px;
}

#banner .languages {
	float: right;
	position: relative;
	top: 25px;
	right: 5px;
}

#banner .version {
	color: white;
	float: right;
	position: relative;
	right: -50px;
}

#mainMenu {
	float: left;
	width: 100%;
	background-color: #EEEEFA;
	border-top: 3px #777777 solid;
	border-bottom: 3px #777777 solid;
	border-left: 1px #738764 solid;
	border-right: 1px #738764 solid;
}

#mainMenu li.active {
	background-color: #C8D7D2;
	border-right: 1px #A0B4B4 solid;
	border-left: 1px #A0B4B4 solid;
}

#mainMenu ul {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	list-style: none;
}

#mainMenu li {
	float: left;
	padding: 8px 16px 8px 16px;
	border-right: 1px #EBF4E3 solid;
	border-left: 1px #EBF4E3 solid;
}

#mainMenu a,#mainMenu a:visited,#mainMenu li a:hover {
	color: #4b4a4a;
	font-weight: bold;
	font-size: 110%;
	text-decoration: none;
}

.menuRight {
	float: right;
	position: relative;
	top: 7px;
	right: 10px;
}

.projectChoicePosition,.logout {
	margin-left: 10px;
	float: left;
}

.projectChoicePosition select {
	width: 80px;
}

.menuRight .logout {
	font-size: 1em !important;
	position: relative;
	top: 2px;
}

.mainFrame {
	float: left;
	width: 100%;
	background: white;
	border-left: 1px #738764 solid;
	border-right: 1px #738764 solid;
}

.mainArea {
	padding: 20px 20px 20px 20px;
}

#footer {
	text-align: center;
	position: relative;
	padding-top: 5px;
	height: 30px;
	border-top: 3px #777777 solid;
	float: left;
	width: 100.2%;
}

#footer span {
	padding: 5px 10px 5px 10px;
}

#footer span.separator {
	border-left: 1px #C8DCF0 solid;
}

container-1

.smallFont {
	font-size: 0.85em;
}

.light {
	color: #555555;
}

.info {
	background-color: #DDEEFF;
	width: 200px;
	border: 1px #0066FF solid;
	color: #0066FF;
}

.formFieldLabel {
	text-align: right;
	float: left;
	width: 100px;
}

.createUserFormField {
	text-align: left;
	float: left;
	width: 100px;
}

.createUserform {
	margin-bottom: 10px;
	width: 50%;
	float: left;
}

.createUserform fieldset {
	border: none;
}

.createUserform createUserFormField {
	display: inline-block;
	vertical-align: top;
	width: 120px;
}

.formField {
	padding: 0;
}

.createUserform .formField input,.formField select {
	margin: 2px 0;
}

.createUserform fieldset ol {
	margin: 0;
	padding: 0;
}

.createUserform fieldset li {
	list-style: none;
	margin: 0;
}

.existingUsers fieldset {
	border: none;
}

.existingUsers createUserFormField {
	display: inline-block;
	vertical-align: top;
	width: 100px;
	text-align: left;
}

.existingUsers .formField a {
	margin: 2px 0;
}

.existingUsers img {
	width: 20px;
	height: 20px;
}

.existingUsers ol {
	margin: 0;
	padding: 0;
}

.existingUsers  li {
	list-style: none;
	margin: 0;
}

table.OverviewPanel {
	margin-bottom: 10px;
	font-size: 1em;
	width: 100%;
	border-spacing: 0px;
}

table.OverviewPanel tr {
	padding-top: 2px;
	padding-bottom: 2px;
}

table.OverviewPanel tr.odd {
	background-color: #a7c1b6;
}

table.OverviewPanel tr.even {
	background-color: #fff;
}

table.OverviewPanel tr td {
	padding-left: 8px;
	padding-right: 30px;
}

table.OverviewPanel tr th {
	font-weight: normal;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 8px;
	padding-right: 24px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	text-align: left;
	white-space: nowrap;
	vertical-align: middle;
}

table.OverviewPanel tr th a {
	padding-right: 15px;
	background-position: right;
	background-repeat: no-repeat;
}

table.OverviewPanel tr th.wicket_orderDown a {
	color: black;
	background-image: url(../images/arrow_down.png);
}

table.OverviewPanel tr th.wicket_orderUp a {
	color: black;
	background-image: url(../images/arrow_up.png);
}

table.OverviewPanel tr th.wicket_orderNone a {
	background-image: url(../images/arrow_off.png);
}

table.OverviewPanel tr th a {
	font-weight: normal;
}

table.OverviewPanel td.filter-td {
	font-size: 1em;
	background-color: #f3f3f3;
	border-bottom: 1px solid #000;
}

table.OverviewPanel td.filter-td input.go {
	width: 45%;
}

table.OverviewPanel td.filter-td input.clear {
	width: 45%;
}

table.OverviewPanel td.filter-td input {
	width: 100%;
	font-size: 0.8em;
}

table.OverviewPanel td.filter-td select {
	width: 100%;
	font-size: 0.8em;
}

.blockedForm input {
	display: block;
	width: 250px;
}
*/
/* SERVICE LIST PANEL COLORS */
/*
#aliveStateOffline {
color: red;
}

#aliveStateOnline {
color: green;
}

#aliveStateOther {
color: orange;
}
*/