<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2010 OpenEngSB Division, Vienna University of Technology

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->

<chapter version="5.0"
  xsi:schemaLocation="http://docbook.org/ns/docbook http://www.docbook.org/xml/5.0/xsd/docbook.xsd   http://www.w3.org/1999/xlink http://www.docbook.org/xml/5.0/xsd/xlink.xsd   http://www.w3.org/2001/XMLSchema-instance http://www.w3.org/2001/XMLSchema-instance.xsd"
  xml:id="developer.persistence" xmlns="http://docbook.org/ns/docbook" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ns="http://docbook.org/ns/docbook">
  <title>Persistence in the OpenEngSB</title>

  <para>The OpenEngSB has a central persistence service, which can be used by any component within in the OpenEngSB to
    store data. The service is designed for flexibility and usability for the storage of relatively small amounts of
    data with no explicit performance requirements. If special persistence features need to be used it is recommended to
    use a specialized storage rather than the general storage mechanism.</para>

  <para>The persistence service can store any Java Object, but was specifically designed for Java Beans.</para>

  <para>
    The interface of the
    <link xlink:href="http://github.com/openengsb/openengsb/tree/master/core/persistence/src/main/java/org/openengsb/core/persistence/PersistenceService.java">persistence service</link>
    supports basic CRUD (create, update, retrieve, delete) mechanisms. Instances of the persistence service are created
    per bundle and have to make sure that data is stored persistently. If bundles need to share data the common
    persistence service cannot be used, as it does not support this feature. The 
    <link xlink:href="http://github.com/openengsb/openengsb/tree/master/core/persistence/src/main/java/org/openengsb/core/persistence/PersistenceManager.java">persistence manager</link>
    is responsible for the management of persistence service instances per bundle. On the first request from a
    bundle the persistence manager creates a persistence service. All later requests from a specific bundle should
    get the exact same instance of the persistence service.
  </para>

  <para>
    The persistence solution of the OpenEngSB was designed to support different possible back-end database systems.
    So if a project has high performance or security requirements, which can not be fulfilled with the default database
    system used by the persistence service, it is possible to implement a different persistence back-end. To make this
    exchange easier a  <link xlink:href="http://github.com/openengsb/openengsb/tree/master/core/persistence/src/test/java/org/openengsb/core/persistence/PersistenceServiceTest.java">test</link>
    for the expected behavior of the persistence service is provided.
  </para>

</chapter>
