#
# Licensed to the Austrian Association for Software Tool Integration (AASTI)
# under one or more contributor license agreements. See the NOTICE file
# distributed with this work for additional information regarding copyright
# ownership. The AASTI licenses this file to you under the Apache License,
# Version 2.0 (the "License"); you may not use this file except in compliance
# with the License. You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

#
# Sets the default datasource properties
#
driverClassName=org.h2.jdbcx.JdbcDataSource
url=jdbc:h2:${karaf.data}/openengsb/persistence/default
username=
password=

#
# Configures the connection into the very last detail including 
# validation and other enhanced features.
#

#defaultReadOnly=false
#defaultAutoCommit=true
#maxActive=8
#whenExhaustedAction=2
#maxWait=-1
#maxIdle=8
#minIdle=0
#testOnBorrow=true
#testOnReturn=true
#timeBetweenEvictionRunsMillis=-1
#numTestsPerEvictionRun=3
#minEvictableIdleTimeMillis=1800000
#testWhileIdle=false
#softMinEvictableIdleTimeMillis=-1
#lifo=true

#
# Keep in mind that the validation query is different per database you use!
#
# for MySQL/PostgreSQL/MS SQL use:
#validationQuery=SELECT 1
# for Oracle use:
#validationQuery=SELECT 1 from dual
# for DB2 use:
#validationQuery=SELECT 1 FROM sysibm.sysdummy1

