<?xml version="1.0" encoding="UTF-8"?>
    <!--

        Copyright 2010 OpenEngSB Division, Vienna University of Technology

        Licensed under the Apache License, Version 2.0 (the "License"); you
        may not use this file except in compliance with the License. You may
        obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0 Unless required by
        applicable law or agreed to in writing, software distributed under the
        License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
        CONDITIONS OF ANY KIND, either express or implied. See the License for
        the specific language governing permissions and limitations under the
        License.
    -->
<beans xmlns:sm="http://servicemix.apache.org/config/1.0" xmlns:engsb="http://openengsb.org/connector/mvn/1.0"
  xmlns:test="urn:buildtest">

  <sm:container id="jbi" embedded="true" createMBeanServer="false">

    <sm:activationSpecs>

      <sm:activationSpec>
        <sm:component>
          <engsb:mavenComponent>
            <engsb:endpoints>
              <engsb:mavenBuilder service="test:build-test" endpoint="endpoint" id="firstEndpoint">

                <engsb:projectConfiguration>
                  <ref bean="projectConfigBean" />
                </engsb:projectConfiguration>
                <engsb:options>
                  <ref bean="testOptions" />
                </engsb:options>

              </engsb:mavenBuilder>

              <engsb:mavenBuilder service="test:build-test-fail" endpoint="endpoint">

                <engsb:projectConfiguration>
                  <ref bean="projectConfigBeanFail" />
                </engsb:projectConfiguration>

                <engsb:options>
                  <ref bean="testOptions" />
                </engsb:options>
              </engsb:mavenBuilder>

              <engsb:mavenBuilder service="test:build-test-dep" endpoint="endpoint">

                <engsb:projectConfiguration>
                  <ref bean="projectConfigBeanDep" />
                </engsb:projectConfiguration>

                <engsb:options>
                  <ref bean="testOptions" />
                </engsb:options>

                <engsb:logLevel>
                  <ref bean="debugLevel" />
                </engsb:logLevel>

              </engsb:mavenBuilder>

              <engsb:mavenBuilder service="test:build-test-invalid-pom" endpoint="endpoint">

                <engsb:projectConfiguration>
                  <ref bean="projectConfigBeanInvalidPom" />
                </engsb:projectConfiguration>

                <engsb:options>
                  <ref bean="testOptions" />
                </engsb:options>

              </engsb:mavenBuilder>

            </engsb:endpoints>
          </engsb:mavenComponent>
        </sm:component>
      </sm:activationSpec>

    </sm:activationSpecs>
  </sm:container>

  <bean class="org.openengsb.maven.common.pojos.ProjectConfiguration" id="projectConfigBeanDep">
    <property name="goals">
      <list>
        <value>clean</value>
        <value>package</value>
      </list>
    </property>
    <property name="baseDirectory">
      <value>file:target/test-classes/build-test-dep</value>
    </property>
  </bean>

  <bean class="org.openengsb.maven.common.pojos.ProjectConfiguration" id="projectConfigBean" />

  <bean class="org.openengsb.maven.common.pojos.ProjectConfiguration" id="projectConfigBeanFail" />

  <bean class="org.openengsb.maven.common.pojos.ProjectConfiguration" id="projectConfigBeanInvalidPom">
    <property name="goals">
      <list>
        <value>clean</value>
        <value>install</value>
      </list>
    </property>
    <property name="baseDirectory">
      <value>file:target/test-classes/build-test-invalid-pom</value>
    </property>
  </bean>

  <!-- settings file with localRepository to create independent tests -->

  <bean class="org.openengsb.maven.common.pojos.Options" id="testOptions">
    <property name="settings">
      <value>file:target/test-classes/settings/settings.xml</value>
    </property>
  </bean>

  <bean class="org.openengsb.maven.common.pojos.LogLevelMaven" id="debugLevel">
    <property name="ACTUAL_LEVEL" value="0" />
  </bean>

</beans>
